body {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
    margin: 0;
    padding: 0;
    font-family: Arial,
        Helvetica,
        sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    transition-duration: 0.001s;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-size: 1vw;
    border-width: 0 0.5rem 0.5rem 0;
    border-bottom-right-radius: 2rem;
    border-color: black;
    border-style: solid;
    box-shadow: 10px 10px 8px #4e4e4e;
}

.red {
    background-color: red;
    color: whitesmoke;
    border-bottom-right-radius: 1.5rem;
    padding-left: 0.2rem;
    padding-right: 1rem;
}

.white {
    background-color: whitesmoke;
    color: red;
    border-top-left-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 0.2rem;
}

.StopWatch {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin: 5% 10% 5% 10%;
    font-size: 5vw;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 0));
    border-width: 0.3rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 1.5rem;
    border-color: red;
    border-radius: 2rem;
    border-style: solid;
}

.counter {
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

.btn-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.btn-list>li {
    display: inline;
    align-self: center;

}

.btn {
    background-color: rgb(253, 0, 0);
    color: whitesmoke;
    align-items: center;
    padding: 0;
    font-size: 2vw;
    font-style: oblique;
    width: 8vw;
    height: 3vw;
    border-radius: 2rem;
    border: none;
    transition-duration: 0.2s;
    margin-bottom: 1vw;
}

.btn-add {
    background-color: rgb(253, 0, 0);
    color: whitesmoke;
    align-items: center;
    padding: 0 1vw;
    font-size: 2vw;
    font-style: oblique;
    width: auto;
    height: 3vw;
    border-radius: 2rem;
    border: none;
    transition-duration: 0.4s;
    margin-bottom: 1vw;
    align-self: center
}

#div-2,
#div-3 {
    display: none;
}


.btn:hover,
.btn-add:hover {
    background-color: whitesmoke;
    color: rgb(255, 0, 0) !important;
}

#gradient {
    text-align: center;
    padding-top: 3vw;

}

@media (orientation: portrait) {

    .btn-list>li {
        display: grid;
        margin: 2vw;
    }

    .logo {
        font-size: 1.5vw;
    }

    .btn,
    .btn-add {
        font-size: 4vw;
        width: 30vw;
        height: 10vw;
    }

    .StopWatch {
        font-size: 8vw;
    }
}